import type { Metadata } from 'next'
import { Toaster } from '@/components/ui/sonner'
import AppLayout from '@/components/AppLayout'
import './globals.css'

export const metadata: Metadata = {
  title: '{{.Name}}',
  description: '{{.Name}} application',
}

export default function RootLayout({ children }: { children: React.ReactNode }) {
  return (
    <html lang="en">
      <body>
        <AppLayout>{children}</AppLayout>
        <Toaster />
      </body>
    </html>
  )
}
