{{- if .HasModule "auth"}}
import { ClerkProvider } from '@clerk/nextjs'
{{- end}}
import type { Metadata } from 'next'
import './globals.css'

export const metadata: Metadata = {
  title: '{{.Name}}',
  description: '{{.Name}} application',
}

export default function RootLayout({
  children,
}: {
  children: React.ReactNode
}) {
{{- if .HasModule "auth"}}
  return (
    <ClerkProvider>
      <html lang="en">
        <body>{children}</body>
      </html>
    </ClerkProvider>
  )
{{- else}}
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  )
{{- end}}
}
